   html{
    background-color:#c3bcac;
   }
   .father_title{
    margin:10px;
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
}

   .title_1 .title_2 .title_3{
    width:33%;
   }
   .title_2{
    background-color:white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   }
   
   .fav_title {
    font-family:Times;
    font-size:25;
    margin:30px;
    padding:30px;
   }
   .fav_quote {
    font-style:italic;
    font-family:Times;
    color: DarkSlateGray;
    margin:30px;
    line-height:150%;
   }
   .fav_hr {
    width:5%;
    border-width:1px;
   }
   .fav_hr_long {
    width:85%;
    border-width:1px;
   }
   .fav_input{
    margin:30px;
   }
